* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
}

:root {
  --white: #F9F9F9;
  --black: #333333;
  --green: #0A8C3E;
  --goldenyellow: #D9C589;
  --graylight: #959595;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Jost', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-size: 30px;
  font-weight: 800;
}

a {
  color: var(--black) !important;
  text-decoration: none !important;
}

p,
li,
label {
  font-size: 18px;
  font-weight: 600;
}

button {
  font-weight: 400 ;
}

.main-container {
  width: 100%;
  height: auto;
}

.btn {
  width: auto;
  text-transform: uppercase;
  height: auto;
  padding: 8px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  margin: 5px;
  background-color: var(--green);
  color: var(--white);
  border-radius: 4px;
}

.navbar-container {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 0px;
  background-color: var(--graylight);
  padding: 10px;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px 0px #00000004 !important;
  z-index: 5;
}

.desktop-navbar-container {
  display: none;
}

.nav-logo-container {
  width: auto;
  height: auto;
}

.nav-logo-image {
  height: 105px;
}

#navbar-checkbox {
  display: none;
}

.navbar-btn-container {
  width: auto;
  height: auto;
  margin: 5px 0px;
}

.navbar-checkbtn {
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 30px;
  width: auto;
  height: auto;
  display: block;
  font-size: 30px;
  color: var(--green);
}

.sidebar-checkbtn {
  cursor: pointer;
  position: absolute;
  top: 35px;
  left: 50px;
  width: auto;
  height: auto;
  display: block;
  font-size: 30px;
  color: var(--green);
}

.navbar-sidebar {
  position: absolute;
  display: none;
  padding: 90px 35px;
  height: auto;
  width: 425px;
  z-index: 10 !important;
  left: 0;
  top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--graylight);
  animation: slideInRight 1s ease-out;
}

.navbar-list {
  width: 130px;
  height: auto;
  margin: 10px;
  padding: 5px 0;
  cursor: pointer;
  color: var(--white) ;
  text-transform: capitalize;
}

.navbar-links-sublinks {
  position: relative;
}

.navbar-links-sublinks-container {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  display: none;
  border-radius: 10px;
  border: 1px solid var(--black);
  background-color: var(--white);
}

.navbar-links {
  color: var(--white) !important;
}

.navbar-links-sublinks:hover .navbar-links-sublinks-container {
  display: block;
}

/* for workshop dropdown */
.navbar-links-sublinks-container-workshop {
  top: -40px;
  right: -170px;
}

.navbar-links.active {
  color: var(--green) !important;
}

.navbar-list:hover {
  color: var(--green);
}

#navbar-checkbox:checked~.navbar-sidebar {
  display: block;
}

#navbar-checkbox:checked~.navbar-checkbtn {
  opacity: 0;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateY(-540px);
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar-search-container {
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 50px;
  right: 20px;
}

.sidebar-search-input {
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  border: 2px solid var(--green);
  display: none;
}

.sidebar-search-input::placeholder {
  font-size: 16px;
  color: var(--black);
  padding: 0px 10px;
}

.sidebar-search-icon {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 18px;
  color: var(--green);
}

/* hero section */
.hero-container {
  width: 100%;
  height: auto
}

.carousel {
  z-index: 0;
}

.carousel-slider-img {
  width: 100%;
  height: 98vh;
}

.carousel-overlay {
  width: 100%;
  height: 98vh;
}

.image-overlay {
  position: absolute;
  background-color: #000000cc;
}

.carousel-indicators li {
  width: auto;
  height: auto;
  padding: 3.4px;
  border-radius: 50%;
  background-color: var(--white);
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50px;
  background-color: transparent !important;
  border: 1px solid var(--white) !important;
  opacity: 0.4 !important;
  z-index: 1;
}

.carousel-control-next {
  top: 50%;
  right: 2%;
  transform: translate(-2%, -50%);
}

.carousel-control-prev {
  top: 50%;
  left: 2%;
  transform: translate(-2%, -50%);
}

.carousel-next-icon,
.carousel-prev-icon {
  color: var(--white) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 1 !important;
}

.carousel-control-prev:hover {
  opacity: 1 !important;
}

.carousel-control-next:hover {
  opacity: 1 !important;
}

.carousel-caption {
  display: block !important;
  position: absolute;
  width: auto !important;
  height: auto !important;
  padding: 5px;
  z-index: 1;
  top: 64%;
  transform: translateY(-64%);
}

.carousel-caption h1 {
  font-size: 3.5rem !important;
  margin: 0 !important;
  text-transform: uppercase;
  color: var(--white);
}

.carousel-caption p {
  margin: 0 !important;
  text-transform: uppercase;
  font-size: 3rem !important;
  color: var(--white) !important;
}

.carousel-caption li {
  font-size: 2rem !important;
}

.about-section {
  padding-top: 15px;
}

.about-text-container {
  padding: 55px 0px 55px;
  width: auto;
  margin: auto;
}

.about-text-heading {
  color: var(--black);
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}

.about-three-box {
  width: 90%;
  height: auto;
  padding: 60px 10px 15px;
  margin: 30px auto 70px;
  border-radius: 5px;
  border: 1px solid var(--green);
  position: relative;
  box-shadow: 0 15px 30px 0 #0000001a;
}

.about-octagon-shaape {
  width: 75px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: var(--green);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.about-octagon-icon {
  font-size: 30px;
  color: var(--white);
}

.about-three-box h4 {
  font-size: 2em;
  margin: 10px 0px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
}

.about-three-box p {
  text-align: center;
  color: var(--black);
}

.about-btn {
  width: 33%;
  margin: 15px auto 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--graylight);
  transition: all .4s ease-in;
  border-radius: 0;
  padding: 0;
  border-bottom: 2px solid var(--graylight);
}

.about-btn:hover {
  border-bottom: 2px solid var(--green);
  color: var(--green);
}

.news-section-container {
  padding: 30px 0 50px;
}

.news-container {
  width: 100%;
  padding: 20px 10px;
  height: auto;
}

.news-text-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.news-text-heading {
  color: var(--black);
  font-size: 2.5em;
  text-transform: uppercase;
}

.news-btn {
  width: auto;
  font-size: 1.5rem;
  padding: 4px;
  border-radius: 0px;
  color: var(--graylight);
  background-color: transparent;
  transition: all .4s ease-in;
  border-bottom: 2px solid var(--graylight);
}

.news-btn:hover {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.news-section-carousel {
  height: auto;
  padding: 0px 15px 20px;
}

.news-carousel-indicators {
  margin-top: 10px !important;
}

.news-carousel-indicators li {
  width: auto;
  height: auto;
  padding: 3.5px;
  border-radius: 50%;
  background-color: var(--green) !important;
}

.news-post-sect {
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 3px;
  position: relative;
}

.news-post-image-container {
  width: auto;
  height: auto;
  position: relative;
}

.news-image-overlay {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 2px var(--black);
}

.news-post-image {
  width: 100%;
  border-radius: 2px;
}

.news-post-content {
  text-transform: capitalize;
  color: var(--white);
  cursor: pointer;
  width: 95%;
  position: absolute;
  top: 95%;
  left: 4%;
  transform: translate(0, -95%);
}

.date-content {
  width: auto;
  padding: 8px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20%;
  right: -55%;
  /* transform: translate(-10%, -90%); */
}

.event-section-container {
  width: 100%;
  padding: 20px 0;
  height: auto;
  background-image: url(/image/event-bg2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.event-heading-container {
  width: 100%;
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
}

.event-heading-text {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.event-btn {
  background-color: transparent;
  color: var(--graylight);
  padding: 0;
  border-radius: 0;
  border-bottom: 2px solid var(--graylight);
}

.event-btn:hover {
  border-bottom: 2px solid var(--green);
  color: var(--green);
}

.event-card-box-container {
  width: 100%;
  height: auto;
  /* background-image: url(/image/event-bg1.jpg); 
   background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; */
  padding: 15px;
  margin: 70px 0;
}

.event-card-box {
  width: 100%;
  height: auto;
  margin: 20px 0;
  background-color: var(--white);
}

.event-card-box-image-container {
  width: 100%;
  height: auto;
}

.event-image {
  width: 100%;
}

.event-card-box-text-container {
  width: 100%;
  height: auto;
  padding: 20px;
}

.event-content {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0;
  color: var(--green);
}

.event-date {
  color: var(--graylight);
}

.event-title {
  font-size: 3rem;
  color: var(--black);
  margin: 8px 0;
}

.gof-section-container {
  width: 100%;
  height: auto;
  padding: 50px 10px;
}

.gof-image {
  display: none;
}

.gof-form-container {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 15px;
  background-color: var(--graylight);
  border-radius: 4px;
}

.gof-heading-text {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin: 15px 0;
}

.detail-container {
  display: block;
}

.detail-form-container {
  width: 95%;
  margin: auto;
}

.form-head {
  width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
  margin: 5px 2px;
  color: var(--white);
}

.form-input {
  display: block;
  width: 95%;
  padding: 10px 5px;
  border-radius: 2px;
  outline: none;
  color: var(--white);
  background-color: var(--black);
  border: none;
}

.form-input::placeholder {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--white);
}

.gof-btn {
  margin: 20px 30px;
  float:  right;
}

/* 
.video-section-container {
  width: 100%;
  padding: 50px 20px;
}

.video-heading-text {
  text-transform: uppercase;
  font-size: 2.2rem;
}

.video-section {
  width: 100%;
  padding: 10px 0px;
}

.video-container {
  margin: 10px 0;
  width: auto;
  height: auto;
  border-radius: 4px;
  padding: 10px;
  background-color: rgb(175, 175, 50);
}

.video-vid {
  width: 100%;
}

.video-content-container {
  padding: 10px;
}

.video-date {
  width: 130px;
  padding: 8px;
  border-radius: 40px;
  border: 1px solid var(--green);
} */

.president-executives-container {
  width: auto;
  height: auto;
  background: radial-gradient(#0a8c3ed9, #0a8c3ed9), url(/image/logo.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.president-text-container {
  width: auto;
  height: auto;
  margin: 20px 0;
  padding: 15px 15px 0;
}

.president-text-head {
  text-transform: uppercase;
  text-align: center;
  line-height: 3.5rem;
  margin: 20px 0;
  color: var(--white);
}

.president-text-sub {
  color: var(--white);
  margin: 0 0 15px;
}

.president-image-container {
  width: auto;
  padding: 10px;
  height: auto;
}

.president-image {
  width: 100%;
}

.president-btn {
  background-color: transparent;
  color: var(--graylight);
  transition: all .4s ease-in;
  border-radius: 4px;
}

.president-btn:hover {
  color: var(--green);
  background-color: var(--white);
}

.post-section .owl-nav {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.post-section .owl-prev,
.post-section .owl-next {
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  color: var(--graylight) !important;
  border-radius: 50%;
  font-size: 16px !important;
  text-align: center;
  background-color: transparent !important;
  border: 1px solid var(--graylight) !important;
  position: absolute;
}

.post-section .owl-prev {
  top: -15px;
  left: 15px;
}

.post-section .owl-next {
  top: -15px;
  right: 15px;
}

.executives-container {
  width: auto;
  height: auto;
  padding: 40px 0;
}

.exco-container {
  width: 100% ;
}

.exco-heading-text {
  text-align: center;
  text-transform: uppercase;
  margin: 90px 0 0;
  color: var(--white);
}

.exco-image-container {
  width: auto;
  height: auto;
  padding: 10px 15px;
}

.exco-image {
  width: 100%;
}

.exco-text-container {
  width: auto;
  height: auto;
  padding: 0 20px ;
}

.exco-name {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--white);
}

.exco-text {
  text-transform: capitalize;
  font-size: 2rem;
  color: var(--white);
}

.newsletter-container {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center; 
  background-image: url(/image/newsletter.jpg);
  background-size: cover;
  background-position: center;
}

.news-letter-container {
  padding: 65px 15px;
  width: auto;
  height: auto;
}

.newsletter-name {
  font-size: 4rem;
  color: var(--white);
  text-transform: uppercase;
}

.newsletter-text {
  font-size: 2rem;
  color: var(--white)
}

.newsletter-btn-container {
  width: 95%;
  background-color: var(--green);
  height: 50px;
  margin: 60px auto 10px;
  position: relative;
  border-radius: 50px;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-search-input {
  width: 70%;
  height: 50px;
  padding: 7px 25px;
  font-size: 18px;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.newsletter-search-input::placeholder {
  text-align: center;
  text-transform: capitalize;
  font-size: 17px;
}

.newsletter-btn {
  width: 30%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  position: absolute;
  z-index: 1;
  color: var(--white);
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px;
  background-color: var(--green);
  right: 0;
  top: 0;
}

.footer-container {
  width: 100%;
  height: auto;
  padding: 40px 30px;
  background-color: var(--graylight);
}

.footer-links-container {
  margin-bottom: 50px;
  width: 100%;
  height: auto;
}

.footer-logo-container {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.footer-logo {
  width: 100%;
}

.footer-links {
  font-size: 16px;
  color: var(--white) !important;
  text-transform: capitalize;
}

.footer-list {
  margin: 0 !important;
  margin-bottom: 23px !important;
  width: 150px;
  border-bottom: 2px solid var(--white);
}

.footer-link-head {
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 15px;
}

.street-address {
  margin-bottom: 30px;
}

.email-address {
  color: var(--green) !important;
  text-transform: initial;
}

.copyrite-container {
  background-color: var(--graylight);
  width: 100%;
  height: auto;
  padding: 20px ;
}

.copyrite-text {
  margin-bottom: 10px;
}

.media-icon-container {
  width: auto;
  height: auto;
}

.media-icon {
  font-size: 20px;
  margin-right: 15px;
  color: var(--white);
}

@media screen and (min-width: 426px) {

  .nav-container {
    padding: 10px;
  }

  .about-three-box {
    padding: 60px 15px 15px;
  }

  .news-text-container {
    width: 100%;
    margin: auto;
  }

  .event-heading-container {
    width: 74%;
    margin: auto;
  }

  .gof-form-container {
    width: 400px;
  }

}

@media (min-width:500px) and (max-width:700px) {

  .owl-item {
    width: 468px !important;
    margin: 10px auto;
  }

}


@media screen and (min-width: 520px) {
  .about-three-box {
    width: 440px;
  }

  .news-text-heading {
    font-size: 30px;
  }

  .about-text-heading {
    font-size: 30px;
  }

  .about-text-container {
    padding: 70px 0 30px;
  }

  .gof-form-container {
    width: 450px;
  }

  .president-image-container {
    width: 450px;
    margin: auto;
  }

  .exco-container {
    width: 450px ;
    margin: auto;
  }

  .newsletter-btn-container {
    width: 440px;
  }
}

@media screen and (min-width: 580px) {

  .news-btn {
    width: auto;
    padding: 5px 0px 0;
    display: block;
    margin: auto;
  }

  .post-section {
    width: 75% !important;
    margin: auto;
  }

  .news-text-container {
    width: 80%;
  }

  .event-card-box {
    width: 450px;
    margin: 20px auto;
  }

  .gof-form-container {
    width: 500px;
  }

  .footer-container {
    display: inline-block;
    text-align: center;
  }

  .copyrite-container {
    display: inline-block;
    text-align: center;
  }

}

@media screen and (min-width: 768px) {

  .about-box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px 50px;
  }

  .about-three-box {
    width: 400px;
    margin: 70px 20px 20px;
    padding: 60px 20px 30px;
  }

  .latest-news-container {
    padding: 35px 10px 30px;
  }

  .post-section {
    width: 95% !important;
    margin: 10px auto;
  }

  .date-content {
    left: 55%;
    transform: translate(15%, -90%);
  }

  .president-text-container {
    width: 730px;
    padding: 10px;
  }

  .detail-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .detail-form-container {
    width: 45%;
    height: auto;
    padding: 10px 5px;
  }

  .gof-form-container {
    width: 600px;
  }

  .executives-container {
    display: flex;
    flex-wrap: wrap;
  }

  .exco-container {
    width: 380px;
  }

  .newsletter-btn-container {
    width: 500px;
  }

  .footer-container {
    display: flex;
    text-align: left;
    padding:  40px 10px;
    justify-content: space-evenly;
  }

  .footer-link-head {
    font-size: 2rem;
  }

  .footer-links-container {
    width: 25%;
  }

  .copyrite-container {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
  }

}

@media screen and (min-width: 870px) {

  .mobile-navbar-container {
    display: none;
  }

  .navbar-container {
    display: block;
  }

  .nav-logo-container {
    margin-left: 40px;
  }

  .desktop-navbar-container {
    display: block;
  }

  .desk-nav-container {
    position: absolute;
    top: 40px;
    right: 175px;
    width: auto;
    display: flex;
    align-items: center;
  }

  .desk-nav-links {
    width: auto;
    height: auto;
    text-transform: capitalize;
    font-size: 18px;
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    color: var(--black);
  }

  .desk-nav-links.active {
    color: var(--green);
  }

  .president-container {
    padding: 20px 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .president-image-container {
    margin: 0;
  }

  .president-text-container {
    width: 590px;
    margin-right: 35px;
    padding: 0;
  }

  .president-text-head {
    text-align: left;
  }

  .event-card-box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .event-card-box {
    width: 400px;
    margin: 20px;
  }

  .gof-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .gof-form-container {
    margin: 0;
  }

  .gof-image {
    display: block;
    width: 450px;
  }

  .detail-container {
    display: block;
  }

  .detail-form-container {
    width: 95%;
  }

  .post-section {
    width: 94% !important;
    margin: 10px auto;
  }
}

@media screen and (min-width: 1024px) {

  .nav-logo-container {
    margin-left: 140px;
  }

  .about-btn {
    width: auto;
  }

  .detail-container {
    display: flex;
  }

  .news-text-container {
    width: 75%;
  }

  .post-section {
    width: 83% !important;
    margin: 10px auto;
  }

  .desk-nav-container {
    right: 200px;
  }

  .footer-links-container {
    width: 200px;
  }

  .footer-list {
    width: 182px;
  }

}


@media screen and (min-width: 1224px) {

  .desk-nav-container {
    right: 250px;
  }

}

@media screen and (min-width: 1440px) {

  .desk-nav-container {
    right: 300px;
  }
}